@import url("common.css");
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
}
h2{
    display: inline;
}