@import url("common.css");
body img{
    width: min(18rem, 90vw);
    aspect-ratio: 1/1;
    border: 2px solid gray;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 0 3rem rgb(178, 178, 178);
}
