@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    min-height: 100vh;
    max-height: fit-content;
}
.divider{
    margin-block: 1rem;
    border: none !important;
}
.common{
    display: flex;
    justify-content: center;
    align-items: center;
}
