*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
}
form{
    display: block;
    width: fit-content;
    height: fit-content;
}
form label, form input, form textarea{
    display: block;
    width: 20rem;
    margin-block: .5rem;
}
form input, form textarea{
    font-size: .9rem;
    padding: 1rem 2rem;
    border-radius: .7rem;
    border: 1px solid gray;
    resize: vertical;
}
form button[type="submit"]{
    margin-block-start: .8rem;
    padding: 1rem;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: .8rem;
    border: none;
    cursor: pointer;
}

