*{
    font-family: "Poppins", sans-serif;
    font-weight: 500;

    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    min-height: 100vh;
    max-height: fit-content;
    padding: 4rem 0;
    overflow-x: hidden;
}
body > div{
    border-radius: 1.5rem;
    border: 1px solid rgb(189, 189, 189);
    margin-block: .5rem;
    width: 20rem;
}
body div a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem 3rem;
    text-align: center;
}
