        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: helvatica, sans-serif;
        }

        body {
            background-color: black;
            color: white;
            width: 100%;
            min-height: 100dvh;
            max-height: fit-content;
            padding: 2rem;
            /* overflow-x: hidden; */
        }

        .form-wrapper,
        .form {
            width: 80vw;
            height: fit-content;
            padding: 2rem;
            margin: 0 auto;
        }

        .form-wrapper form {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr 1fr;
            gap: 1rem;
        }

        .update-form {
            display: grid;
            grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
            gap: 1rem;
            margin-block-end: 1rem;
        }

        .delete-form {
            display: grid;
            grid-template-columns: 6fr 1fr;
            gap: 1rem;
            margin-block-end: 5rem;
        }

        form input {
            padding: .8rem 1.2rem;
            border: none;
            /* border: 2px solid rgb(255, 255, 255); */
            border-radius: .7rem;
            font-size: 1rem;
            background-color: rgb(41, 41, 41);
            color: white;
        }

        button[type='submit'] {
            padding: .8rem 1.2rem;
            font-size: 1rem;
            border-radius: .7rem;
            border: 2px solid rgb(40, 40, 40);
            background-color: black;
            color: white;
        }

        table {
            width: 80vw;
            margin: 0 auto;
            border: 1px solid rgb(31, 31, 31);
            border-collapse: collapse;
            border-radius: .8rem;
        }

        .update-table {
            width: 100% !important;
        }

        th,
        td {
            padding: .8rem 1.2rem;
            text-align: center;
            border: 1px solid rgb(66, 66, 66);
        }